*.bak
config/mpd/database
config/mpd/log
config/mpd/mpd.db
config/mpd/mpd.log
config/mpd/mpdstate
config/mpd/state
config/mpd/sticker.sql
config/mpd/pid
config/mpd/playlists/
result
result-*
__pycache__/
*.pyc

*.back
*.bak
