@import url("dots-palette.css");
@import url("dots-sites.css");

@-moz-document url("about:blank"), url("about:newtab"), url("about:home") {
  :root, body { background: var(--dots-background) !important; }
}

@-moz-document url-prefix("about:reader") {
  :root {
    --main-background: var(--dots-background) !important;
    --main-foreground: var(--dots-on_background) !important;
    --link-foreground: var(--dots-secondary) !important;
  }
}
