
:root {

  --nebula-glass: blur(var(--var-nebula-glass-blur))
    saturate(var(--var-nebula-glass-saturation)) !important;
  --nebula-color-glass: light-dark(
    var(--var-nebula-color-glass-light),
    var(--var-nebula-color-glass-dark)
  ) !important;

  --nebula-border-radius: var(--var-nebula-border-radius) !important;
  --nebula-essentials-width: var(--var-nebula-essentials-width) !important;
  --nebula-workspace-grayscale: var(
    --var-nebula-workspace-grayscale
  ) !important;

  --nebula-ui-tint: light-dark(
    var(--var-nebula-ui-tint-light),
    var(--var-nebula-ui-tint-dark)
  ) !important;
  --nebula-website-tint: light-dark(
    var(--var-nebula-website-tint-light),
    var(--var-nebula-website-tint-dark)
  ) !important;

  --nebula-color-min: light-dark(
    var(--var-nebula-tabs-minimum-light),
    var(--var-nebula-tabs-minimum-dark)
  ) !important;
  --nebula-color: light-dark(
    var(--var-nebula-tabs-default-light),
    var(--var-nebula-tabs-default-dark)
  ) !important;
  --nebula-color-hover: light-dark(
    var(--var-nebula-tabs-hover-light),
    var(--var-nebula-tabs-hover-dark)
  ) !important;
  --nebula-color-selected: light-dark(
    var(--var-nebula-tabs-selected-light),
    var(--var-nebula-tabs-selected-dark)
  ) !important;
  --nebula-color-shadow: light-dark(
    var(--var-nebula-color-shadow-light),
    var(--var-nebula-color-shadow-dark)
  ) !important;
}

:root {

  --nebula-glass: blur(32px) saturate(140%);
  --nebula-color-glass: light-dark(rgb(255 255 255 / 40%), rgb(0 0 0 / 40%));

  --nebula-border-radius: 13px;
  --nebula-essentials-width: 60px;
  --nebula-workspace-grayscale: 100%;

  --nebula-ui-tint: light-dark(rgb(255 255 255 / 20%), rgb(0 0 0 / 20%));
  --nebula-website-tint: light-dark(rgb(255 255 255 / 0%), rgb(0 0 0 / 0%));

  --nebula-color-min: light-dark(rgb(255 255 255 / 10%), rgb(0 0 0 / 20%));
  --nebula-color: light-dark(rgb(255 255 255 / 25%), rgb(0 0 0 / 35%));
  --nebula-color-hover: light-dark(rgb(255 255 255 / 35%), rgb(0 0 0 / 45%));
  --nebula-color-selected: light-dark(rgb(255 255 255 / 45%), rgb(0 0 0 / 55%));
  --nebula-color-shadow: light-dark(rgb(255 255 255 / 5.5%), rgb(0 0 0 / 55%));
}
