@import "oxocarbon.css";
* {
    font-family: FiraCode Nerd Font;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.1rem;
}

.module {
    padding: 0 0.8rem;
    color: @fg;
}

.modules-left,
.modules-right,
.modules-center {
    border-radius: 0.4rem;
    background: transparent;
}

window#waybar.top .modules-center {
    background: transparent;
}

window#waybar.bottom .modules-center {
    background: transparent;
}

.modules-left {
    margin-left: 3px;
}

.modules-right {
    margin-right: 4px;
}

window#waybar {
    background: transparent;
    transition: background 0.5s;
}

window#waybar.empty #window {
    background: transparent;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {

    box-shadow: inset 0 -3px transparent;

    border: none;
    background: transparent;
}

button:hover {
    color: rgb(250, 139, 255);
}

#workspaces button {
    color: @cyan; background: transparent;
    font-weight: bolder;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0 5px;
}

#workspaces button.active {
    color: @accent;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(250, 139, 255), rgb(0, 238, 255)) 1;
    padding: 0 10px;
}

#workspaces button.current_output {
  background-color: transparent;
}

#workspaces button.focused {
    color: rgb(250, 139, 255);
}

#workspaces button.urgent {
    color: red;
}

#workspaces button:hover {
    color: @accent;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#taskbar {
    background: transparent;
    border-radius: 0.4rem;
    padding: 0 0.8rem;
}

#taskbar button {
    padding: 0 0.8rem;
}

#taskbar button.active {
    color: @fg;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg, rgb(250, 139, 255), rgb(0, 238, 255)) 1;
}

#taskbar.empty {
    background: transparent;
}

menu,
tooltip {
    border-radius: 0.4rem;
    padding: 0.2rem;
}

menu label,
tooltip label {
    color: white;
    padding: 0.4rem;
}

#network.disconnected,
#wireplumber.muted,
#temperature.critical {
    color: red;
}

#battery.charging,
#battery.plugged {
    color: rgb(250, 139, 255);
    font-weight: 900;
    background: transparent;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: red;
    }
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    animation: blink 1s linear infinite alternate;
    border-radius: 0.4rem;
    margin-left: 0.5rem;
}

label:focus {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: red;
}

#mpris,
#window {
    background: black;
    color: white;
    font-weight: 900;
}

#window,
#mpris {
    border-radius: 0.4rem;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: rgb(250, 139, 255);
}

#privacy-item.screenshare {
    color: @accent;
}

#privacy-item.audio-in {
    color: @teal;
}

#privacy-item.audio-out {
    color: @purple;
}

#bluetooth.disabled,
#bluetooth.off {
    color: @warning_color;
}

#bluetooth.on,
#bluetooth.connected {
    color: @success_color;
}

#cpu {
    color: @accent;
}

#battery {
    color: @teal;
}

#wireplumber {
    color: @cyan;
}

#backlight {
    color: @base0C;
}

#memory {
    color: @purple;
}

#temperature {
    color: @accent2;
}

#network {
    color: @accent;
}

#clock {
    color: @cyan;
}

#custom-updates {
    color: @fg_dim;
}

#custom-power {
    color: red;
}

#custom-quit {
    color: @pale;
}

#custom-lock {
    color: @accent;
}

#custom-reboot {
    color: @blue;
}
