@-moz-document domain("chess.com") {
  :root {
      --theme-background-color: var(--theme-background-override-color, var(--dots-surface)) !important;
      --color-gray-400: var(--dots-surface_bright) !important;
      --color-gray-500: var(--dots-surface_container_highest) !important;
      --color-gray-600: var(--dots-surface_container_high) !important;
      --color-gray-700: var(--dots-surface_container) !important;
      --color-gray-800: var(--dots-surface) !important;
      --color-gray-900: var(--dots-surface_container_lowest) !important;
      --color-green-200: var(--dots-primary_fixed) !important;
      --color-green-300: var(--dots-primary) !important;
      --color-green-400: var(--dots-primary_container) !important;
      --color-green-500: var(--dots-primary_container) !important;
      --color-neutrals-white: var(--dots-on_surface) !important;
  }
}
