@-moz-document domain("meta.ai") {

    :root, :where(.dark, [dark], [data-theme="dark"]) {
        color-scheme: dark !important;

        --background-primary: var(--dots-background) !important;
        --background-secondary: var(--dots-background) !important;
        --black: var(--dots-background) !important;
        --black-a100: var(--dots-background) !important;
        --black-a1000: var(--dots-background) !important;
        --black-a1100: var(--dots-background) !important;
        --black-a200: var(--dots-background) !important;
        --black-a300: var(--dots-background) !important;
        --black-a400: var(--dots-background) !important;
        --black-a50: var(--dots-background) !important;
        --black-a500: var(--dots-background) !important;
        --black-a600: var(--dots-background) !important;
        --black-a700: var(--dots-background) !important;
        --black-a75: var(--dots-background) !important;
        --black-a800: var(--dots-background) !important;
        --black-a900: var(--dots-background) !important;
        --color-black: var(--dots-background) !important;

        --accent-surface: var(--dots-surface) !important;
        --accent-surface-elevated-sidebar: var(--dots-surface) !important;
        --ai-gray-1000: var(--dots-surface) !important;
        --ai-gray-850: var(--dots-surface) !important;
        --ai-gray-900: var(--dots-surface) !important;
        --ai-gray-950: var(--dots-surface) !important;
        --chart-background: var(--dots-surface) !important;
        --chart-tooltip-bg: var(--dots-surface) !important;
        --fill-blur-thick: var(--dots-surface) !important;
        --fill-dialog: var(--dots-surface) !important;
        --fill-primary: var(--dots-surface) !important;
        --fill-secondary: var(--dots-surface) !important;
        --fill-secondary-elevated-sidebar: var(--dots-surface) !important;
        --fill-task-banner: var(--dots-surface) !important;
        --ur-color-bg-secondary: var(--dots-surface) !important;
        --ur-color-bg-tertiary: var(--dots-surface) !important;

        --ai-gray-1050: var(--dots-surface_container_lowest) !important;
        --ai-gray-1075: var(--dots-surface_container_lowest) !important;
        --ai-gray-1100: var(--dots-surface_container_lowest) !important;
        --ai-gray-a025: var(--dots-surface_container_lowest) !important;
        --ai-gray-a050: var(--dots-surface_container_lowest) !important;
        --ai-gray-a100: var(--dots-surface_container_lowest) !important;
        --ai-gray-a1000: var(--dots-surface_container_lowest) !important;
        --ai-gray-a1050: var(--dots-surface_container_lowest) !important;
        --ai-gray-a1075: var(--dots-surface_container_lowest) !important;
        --ai-gray-a1100: var(--dots-surface_container_lowest) !important;
        --ai-gray-a150: var(--dots-surface_container_lowest) !important;
        --ai-gray-a200: var(--dots-surface_container_lowest) !important;
        --ai-gray-a250: var(--dots-surface_container_lowest) !important;
        --ai-gray-a300: var(--dots-surface_container_lowest) !important;
        --ai-gray-a350: var(--dots-surface_container_lowest) !important;
        --ai-gray-a400: var(--dots-surface_container_lowest) !important;
        --ai-gray-a450: var(--dots-surface_container_lowest) !important;
        --ai-gray-a500: var(--dots-surface_container_lowest) !important;
        --ai-gray-a550: var(--dots-surface_container_lowest) !important;
        --ai-gray-a600: var(--dots-surface_container_lowest) !important;
        --ai-gray-a650: var(--dots-surface_container_lowest) !important;
        --ai-gray-a700: var(--dots-surface_container_lowest) !important;
        --ai-gray-a750: var(--dots-surface_container_lowest) !important;
        --ai-gray-a800: var(--dots-surface_container_lowest) !important;
        --ai-gray-a850: var(--dots-surface_container_lowest) !important;
        --ai-gray-a900: var(--dots-surface_container_lowest) !important;
        --ai-gray-a950: var(--dots-surface_container_lowest) !important;
        --btn-glass-bg: var(--dots-surface_container_lowest) !important;
        --fill-blur-regular: var(--dots-surface_container_lowest) !important;
        --fill-blur-thin: var(--dots-surface_container_lowest) !important;
        --fill-code-block: var(--dots-surface_container_lowest) !important;
        --fill-on-media: var(--dots-surface_container_lowest) !important;
        --green-1075: var(--dots-surface_container_lowest) !important;
        --green-1100: var(--dots-surface_container_lowest) !important;
        --green-a1075: var(--dots-surface_container_lowest) !important;
        --green-a1100: var(--dots-surface_container_lowest) !important;
        --red-1100: var(--dots-surface_container_lowest) !important;
        --red-a1100: var(--dots-surface_container_lowest) !important;
        --rose-a1100: var(--dots-surface_container_lowest) !important;
        --scrim: var(--dots-surface_container_lowest) !important;
        --shadow: var(--dots-surface_container_lowest) !important;
        --text-on-inverted: var(--dots-surface_container_lowest) !important;
        --ur-color-bg: var(--dots-surface_container_lowest) !important;
        --wash: var(--dots-surface_container_lowest) !important;

        --accent-surface-tertiary: var(--dots-surface_container_low) !important;
        --ai-gray-700: var(--dots-surface_container_low) !important;
        --ai-gray-750: var(--dots-surface_container_low) !important;
        --ai-gray-800: var(--dots-surface_container_low) !important;
        --fill-tertiary: var(--dots-surface_container_low) !important;
        --starter-icon-surface: var(--dots-surface_container_low) !important;

        --ai-gray-600: var(--dots-surface_container) !important;
        --ai-gray-650: var(--dots-surface_container) !important;
        --ur-color-text-muted: var(--dots-surface_container) !important;
        --ur-weather-gradient-from: var(--dots-surface_container) !important;

        --accent: var(--dots-surface_container_high) !important;

        --ai-gray-400: var(--dots-surface_container_highest) !important;
        --ai-gray-450: var(--dots-surface_container_highest) !important;
        --ai-gray-500: var(--dots-surface_container_highest) !important;
        --ai-gray-550: var(--dots-surface_container_highest) !important;
        --ur-weather-gradient-to: var(--dots-surface_container_highest) !important;

        --accent-foreground: var(--dots-on_surface) !important;
        --accent-on-surface: var(--dots-on_surface) !important;
        --accent-on-surface-elevated: var(--dots-on_surface) !important;
        --accent-surface-elevated: var(--dots-on_surface) !important;
        --ai-gray-025: var(--dots-on_surface) !important;
        --ai-gray-050: var(--dots-on_surface) !important;
        --ai-gray-100: var(--dots-on_surface) !important;
        --ai-gray-150: var(--dots-on_surface) !important;
        --ai-gray-dark-a025: var(--dots-on_surface) !important;
        --ai-gray-dark-a050: var(--dots-on_surface) !important;
        --ai-gray-dark-a100: var(--dots-on_surface) !important;
        --ai-gray-dark-a1000: var(--dots-on_surface) !important;
        --ai-gray-dark-a1050: var(--dots-on_surface) !important;
        --ai-gray-dark-a1075: var(--dots-on_surface) !important;
        --ai-gray-dark-a1100: var(--dots-on_surface) !important;
        --ai-gray-dark-a150: var(--dots-on_surface) !important;
        --ai-gray-dark-a200: var(--dots-on_surface) !important;
        --ai-gray-dark-a250: var(--dots-on_surface) !important;
        --ai-gray-dark-a300: var(--dots-on_surface) !important;
        --ai-gray-dark-a350: var(--dots-on_surface) !important;
        --ai-gray-dark-a400: var(--dots-on_surface) !important;
        --ai-gray-dark-a450: var(--dots-on_surface) !important;
        --ai-gray-dark-a500: var(--dots-on_surface) !important;
        --ai-gray-dark-a550: var(--dots-on_surface) !important;
        --ai-gray-dark-a600: var(--dots-on_surface) !important;
        --ai-gray-dark-a650: var(--dots-on_surface) !important;
        --ai-gray-dark-a700: var(--dots-on_surface) !important;
        --ai-gray-dark-a750: var(--dots-on_surface) !important;
        --ai-gray-dark-a800: var(--dots-on_surface) !important;
        --ai-gray-dark-a850: var(--dots-on_surface) !important;
        --ai-gray-dark-a900: var(--dots-on_surface) !important;
        --ai-gray-dark-a950: var(--dots-on_surface) !important;
        --blue-025: var(--dots-on_surface) !important;
        --blue-050: var(--dots-on_surface) !important;
        --blue-dark-a025: var(--dots-on_surface) !important;
        --blue-dark-a050: var(--dots-on_surface) !important;
        --btn-glass-text: var(--dots-on_surface) !important;
        --chart-grid: var(--dots-on_surface) !important;
        --chart-text: var(--dots-on_surface) !important;
        --chart-tooltip-text: var(--dots-on_surface) !important;
        --color-icon-quaternary: var(--dots-on_surface) !important;
        --color-white: var(--dots-on_surface) !important;
        --fill-blur-ultrathin: var(--dots-on_surface) !important;
        --fill-dialog-overlay: var(--dots-on_surface) !important;
        --fill-highlight: var(--dots-on_surface) !important;
        --fill-inverted: var(--dots-on_surface) !important;
        --fill-primary-elevated: var(--dots-on_surface) !important;
        --green-025: var(--dots-on_surface) !important;
        --green-050: var(--dots-on_surface) !important;
        --green-dark-a025: var(--dots-on_surface) !important;
        --green-dark-a050: var(--dots-on_surface) !important;
        --icon-primary: var(--dots-on_surface) !important;
        --icon-quaternary: var(--dots-on_surface) !important;
        --icon-tertiary: var(--dots-on_surface) !important;
        --icon-white: var(--dots-on_surface) !important;
        --indigo-025: var(--dots-on_surface) !important;
        --indigo-050: var(--dots-on_surface) !important;
        --indigo-100: var(--dots-on_surface) !important;
        --indigo-dark-a025: var(--dots-on_surface) !important;
        --indigo-dark-a050: var(--dots-on_surface) !important;
        --indigo-dark-a100: var(--dots-on_surface) !important;
        --red-025: var(--dots-on_surface) !important;
        --red-050: var(--dots-on_surface) !important;
        --red-100: var(--dots-on_surface) !important;
        --red-dark-a025: var(--dots-on_surface) !important;
        --red-dark-a050: var(--dots-on_surface) !important;
        --red-dark-a100: var(--dots-on_surface) !important;
        --rose-dark-a025: var(--dots-on_surface) !important;
        --rose-dark-a050: var(--dots-on_surface) !important;
        --rose-dark-a100: var(--dots-on_surface) !important;
        --scroll-thumb: var(--dots-on_surface) !important;
        --starter-icon-glyph: var(--dots-on_surface) !important;
        --text-on-accent: var(--dots-on_surface) !important;
        --text-primary: var(--dots-on_surface) !important;
        --text-quaternary: var(--dots-on_surface) !important;
        --text-tertiary: var(--dots-on_surface) !important;
        --text-white: var(--dots-on_surface) !important;
        --ur-color-text: var(--dots-on_surface) !important;
        --ur-weather-text: var(--dots-on_surface) !important;
        --white: var(--dots-on_surface) !important;
        --white-a100: var(--dots-on_surface) !important;
        --white-a1000: var(--dots-on_surface) !important;
        --white-a1100: var(--dots-on_surface) !important;
        --white-a150: var(--dots-on_surface) !important;
        --white-a200: var(--dots-on_surface) !important;
        --white-a250: var(--dots-on_surface) !important;
        --white-a300: var(--dots-on_surface) !important;
        --white-a400: var(--dots-on_surface) !important;
        --white-a50: var(--dots-on_surface) !important;
        --white-a500: var(--dots-on_surface) !important;
        --white-a600: var(--dots-on_surface) !important;
        --white-a700: var(--dots-on_surface) !important;
        --white-a75: var(--dots-on_surface) !important;
        --white-a800: var(--dots-on_surface) !important;
        --white-a900: var(--dots-on_surface) !important;

        --accent-surface-subtle-hover: var(--dots-on_surface_variant) !important;
        --ai-gray-200: var(--dots-on_surface_variant) !important;
        --ai-gray-250: var(--dots-on_surface_variant) !important;
        --ai-gray-300: var(--dots-on_surface_variant) !important;
        --ai-gray-350: var(--dots-on_surface_variant) !important;
        --code-inline: var(--dots-on_surface_variant) !important;
        --fill-secondary-elevated: var(--dots-on_surface_variant) !important;
        --fill-secondary-elevated-hover: var(--dots-on_surface_variant) !important;
        --icon-secondary: var(--dots-on_surface_variant) !important;
        --icon-secondary-emphasized: var(--dots-on_surface_variant) !important;
        --text-secondary: var(--dots-on_surface_variant) !important;
        --text-secondary-emphasized: var(--dots-on_surface_variant) !important;
        --ur-code-text: var(--dots-on_surface_variant) !important;
        --ur-color-text-secondary: var(--dots-on_surface_variant) !important;

        --accent-dark: var(--dots-primary) !important;
        --blue-100: var(--dots-primary) !important;
        --blue-1000: var(--dots-primary) !important;
        --blue-1050: var(--dots-primary) !important;
        --blue-1075: var(--dots-primary) !important;
        --blue-1100: var(--dots-primary) !important;
        --blue-150: var(--dots-primary) !important;
        --blue-200: var(--dots-primary) !important;
        --blue-250: var(--dots-primary) !important;
        --blue-300: var(--dots-primary) !important;
        --blue-350: var(--dots-primary) !important;
        --blue-400: var(--dots-primary) !important;
        --blue-450: var(--dots-primary) !important;
        --blue-500: var(--dots-primary) !important;
        --blue-550: var(--dots-primary) !important;
        --blue-600: var(--dots-primary) !important;
        --blue-650: var(--dots-primary) !important;
        --blue-700: var(--dots-primary) !important;
        --blue-750: var(--dots-primary) !important;
        --blue-800: var(--dots-primary) !important;
        --blue-850: var(--dots-primary) !important;
        --blue-900: var(--dots-primary) !important;
        --blue-950: var(--dots-primary) !important;
        --blue-a025: var(--dots-primary) !important;
        --blue-a050: var(--dots-primary) !important;
        --blue-a100: var(--dots-primary) !important;
        --blue-a1000: var(--dots-primary) !important;
        --blue-a1050: var(--dots-primary) !important;
        --blue-a1075: var(--dots-primary) !important;
        --blue-a1100: var(--dots-primary) !important;
        --blue-a150: var(--dots-primary) !important;
        --blue-a200: var(--dots-primary) !important;
        --blue-a250: var(--dots-primary) !important;
        --blue-a300: var(--dots-primary) !important;
        --blue-a350: var(--dots-primary) !important;
        --blue-a400: var(--dots-primary) !important;
        --blue-a450: var(--dots-primary) !important;
        --blue-a500: var(--dots-primary) !important;
        --blue-a550: var(--dots-primary) !important;
        --blue-a600: var(--dots-primary) !important;
        --blue-a650: var(--dots-primary) !important;
        --blue-a700: var(--dots-primary) !important;
        --blue-a750: var(--dots-primary) !important;
        --blue-a800: var(--dots-primary) !important;
        --blue-a850: var(--dots-primary) !important;
        --blue-a900: var(--dots-primary) !important;
        --blue-a950: var(--dots-primary) !important;
        --blue-dark-a100: var(--dots-primary) !important;
        --blue-dark-a1000: var(--dots-primary) !important;
        --blue-dark-a1050: var(--dots-primary) !important;
        --blue-dark-a1075: var(--dots-primary) !important;
        --blue-dark-a1100: var(--dots-primary) !important;
        --blue-dark-a150: var(--dots-primary) !important;
        --blue-dark-a200: var(--dots-primary) !important;
        --blue-dark-a250: var(--dots-primary) !important;
        --blue-dark-a300: var(--dots-primary) !important;
        --blue-dark-a350: var(--dots-primary) !important;
        --blue-dark-a400: var(--dots-primary) !important;
        --blue-dark-a450: var(--dots-primary) !important;
        --blue-dark-a500: var(--dots-primary) !important;
        --blue-dark-a550: var(--dots-primary) !important;
        --blue-dark-a600: var(--dots-primary) !important;
        --blue-dark-a650: var(--dots-primary) !important;
        --blue-dark-a700: var(--dots-primary) !important;
        --blue-dark-a750: var(--dots-primary) !important;
        --blue-dark-a800: var(--dots-primary) !important;
        --blue-dark-a850: var(--dots-primary) !important;
        --blue-dark-a900: var(--dots-primary) !important;
        --blue-dark-a950: var(--dots-primary) !important;
        --fill-agent-accent: var(--dots-primary) !important;
        --fill-blue: var(--dots-primary) !important;
        --gradient-blue-indigo-650-stop1: var(--dots-primary) !important;
        --gradient-blue-indigo-650-stop2: var(--dots-primary) !important;
        --icon-primary-link: var(--dots-primary) !important;
        --indigo-1000: var(--dots-primary) !important;
        --indigo-1050: var(--dots-primary) !important;
        --indigo-1075: var(--dots-primary) !important;
        --indigo-1100: var(--dots-primary) !important;
        --indigo-150: var(--dots-primary) !important;
        --indigo-200: var(--dots-primary) !important;
        --indigo-250: var(--dots-primary) !important;
        --indigo-300: var(--dots-primary) !important;
        --indigo-350: var(--dots-primary) !important;
        --indigo-400: var(--dots-primary) !important;
        --indigo-450: var(--dots-primary) !important;
        --indigo-500: var(--dots-primary) !important;
        --indigo-550: var(--dots-primary) !important;
        --indigo-600: var(--dots-primary) !important;
        --indigo-650: var(--dots-primary) !important;
        --indigo-700: var(--dots-primary) !important;
        --indigo-750: var(--dots-primary) !important;
        --indigo-800: var(--dots-primary) !important;
        --indigo-850: var(--dots-primary) !important;
        --indigo-900: var(--dots-primary) !important;
        --indigo-950: var(--dots-primary) !important;
        --indigo-a025: var(--dots-primary) !important;
        --indigo-a050: var(--dots-primary) !important;
        --indigo-a100: var(--dots-primary) !important;
        --indigo-a1000: var(--dots-primary) !important;
        --indigo-a1050: var(--dots-primary) !important;
        --indigo-a1075: var(--dots-primary) !important;
        --indigo-a1100: var(--dots-primary) !important;
        --indigo-a150: var(--dots-primary) !important;
        --indigo-a200: var(--dots-primary) !important;
        --indigo-a250: var(--dots-primary) !important;
        --indigo-a300: var(--dots-primary) !important;
        --indigo-a350: var(--dots-primary) !important;
        --indigo-a400: var(--dots-primary) !important;
        --indigo-a450: var(--dots-primary) !important;
        --indigo-a500: var(--dots-primary) !important;
        --indigo-a550: var(--dots-primary) !important;
        --indigo-a600: var(--dots-primary) !important;
        --indigo-a650: var(--dots-primary) !important;
        --indigo-a700: var(--dots-primary) !important;
        --indigo-a750: var(--dots-primary) !important;
        --indigo-a800: var(--dots-primary) !important;
        --indigo-a850: var(--dots-primary) !important;
        --indigo-a900: var(--dots-primary) !important;
        --indigo-a950: var(--dots-primary) !important;
        --indigo-dark-a1000: var(--dots-primary) !important;
        --indigo-dark-a1050: var(--dots-primary) !important;
        --indigo-dark-a1075: var(--dots-primary) !important;
        --indigo-dark-a1100: var(--dots-primary) !important;
        --indigo-dark-a150: var(--dots-primary) !important;
        --indigo-dark-a200: var(--dots-primary) !important;
        --indigo-dark-a250: var(--dots-primary) !important;
        --indigo-dark-a300: var(--dots-primary) !important;
        --indigo-dark-a350: var(--dots-primary) !important;
        --indigo-dark-a400: var(--dots-primary) !important;
        --indigo-dark-a450: var(--dots-primary) !important;
        --indigo-dark-a500: var(--dots-primary) !important;
        --indigo-dark-a550: var(--dots-primary) !important;
        --indigo-dark-a600: var(--dots-primary) !important;
        --indigo-dark-a650: var(--dots-primary) !important;
        --indigo-dark-a700: var(--dots-primary) !important;
        --indigo-dark-a750: var(--dots-primary) !important;
        --indigo-dark-a800: var(--dots-primary) !important;
        --indigo-dark-a850: var(--dots-primary) !important;
        --indigo-dark-a900: var(--dots-primary) !important;
        --indigo-dark-a950: var(--dots-primary) !important;
        --text-primary-link: var(--dots-primary) !important;
        --ur-color-primary: var(--dots-primary) !important;

        --fill-success: var(--dots-secondary) !important;
        --green-100: var(--dots-secondary) !important;
        --green-1000: var(--dots-secondary) !important;
        --green-1050: var(--dots-secondary) !important;
        --green-150: var(--dots-secondary) !important;
        --green-200: var(--dots-secondary) !important;
        --green-250: var(--dots-secondary) !important;
        --green-300: var(--dots-secondary) !important;
        --green-350: var(--dots-secondary) !important;
        --green-400: var(--dots-secondary) !important;
        --green-450: var(--dots-secondary) !important;
        --green-500: var(--dots-secondary) !important;
        --green-550: var(--dots-secondary) !important;
        --green-600: var(--dots-secondary) !important;
        --green-650: var(--dots-secondary) !important;
        --green-700: var(--dots-secondary) !important;
        --green-750: var(--dots-secondary) !important;
        --green-800: var(--dots-secondary) !important;
        --green-850: var(--dots-secondary) !important;
        --green-900: var(--dots-secondary) !important;
        --green-950: var(--dots-secondary) !important;
        --green-a025: var(--dots-secondary) !important;
        --green-a050: var(--dots-secondary) !important;
        --green-a100: var(--dots-secondary) !important;
        --green-a1000: var(--dots-secondary) !important;
        --green-a1050: var(--dots-secondary) !important;
        --green-a150: var(--dots-secondary) !important;
        --green-a200: var(--dots-secondary) !important;
        --green-a250: var(--dots-secondary) !important;
        --green-a300: var(--dots-secondary) !important;
        --green-a350: var(--dots-secondary) !important;
        --green-a400: var(--dots-secondary) !important;
        --green-a450: var(--dots-secondary) !important;
        --green-a500: var(--dots-secondary) !important;
        --green-a550: var(--dots-secondary) !important;
        --green-a600: var(--dots-secondary) !important;
        --green-a650: var(--dots-secondary) !important;
        --green-a700: var(--dots-secondary) !important;
        --green-a750: var(--dots-secondary) !important;
        --green-a800: var(--dots-secondary) !important;
        --green-a850: var(--dots-secondary) !important;
        --green-a900: var(--dots-secondary) !important;
        --green-a950: var(--dots-secondary) !important;
        --green-dark-a100: var(--dots-secondary) !important;
        --green-dark-a1000: var(--dots-secondary) !important;
        --green-dark-a1050: var(--dots-secondary) !important;
        --green-dark-a1075: var(--dots-secondary) !important;
        --green-dark-a1100: var(--dots-secondary) !important;
        --green-dark-a150: var(--dots-secondary) !important;
        --green-dark-a200: var(--dots-secondary) !important;
        --green-dark-a250: var(--dots-secondary) !important;
        --green-dark-a300: var(--dots-secondary) !important;
        --green-dark-a350: var(--dots-secondary) !important;
        --green-dark-a400: var(--dots-secondary) !important;
        --green-dark-a450: var(--dots-secondary) !important;
        --green-dark-a500: var(--dots-secondary) !important;
        --green-dark-a550: var(--dots-secondary) !important;
        --green-dark-a600: var(--dots-secondary) !important;
        --green-dark-a650: var(--dots-secondary) !important;
        --green-dark-a700: var(--dots-secondary) !important;
        --green-dark-a750: var(--dots-secondary) !important;
        --green-dark-a800: var(--dots-secondary) !important;
        --green-dark-a850: var(--dots-secondary) !important;
        --green-dark-a900: var(--dots-secondary) !important;
        --green-dark-a950: var(--dots-secondary) !important;
        --icon-success: var(--dots-secondary) !important;
        --text-success: var(--dots-secondary) !important;
        --ur-color-success: var(--dots-secondary) !important;

        --fill-warning: var(--dots-tertiary) !important;

        --chart-tooltip-border: var(--dots-outline) !important;
        --color-fill-divider: var(--dots-outline) !important;
        --fill-divider: var(--dots-outline) !important;
        --fill-outline: var(--dots-outline) !important;

        --ur-color-border: var(--dots-outline_variant) !important;

        --fill-destructive: var(--dots-error) !important;
        --gradient-red-rose-650-stop1: var(--dots-error) !important;
        --gradient-red-rose-650-stop2: var(--dots-error) !important;
        --icon-destructive: var(--dots-error) !important;
        --icon-warning: var(--dots-error) !important;
        --red-1000: var(--dots-error) !important;
        --red-1050: var(--dots-error) !important;
        --red-1075: var(--dots-error) !important;
        --red-150: var(--dots-error) !important;
        --red-200: var(--dots-error) !important;
        --red-250: var(--dots-error) !important;
        --red-300: var(--dots-error) !important;
        --red-350: var(--dots-error) !important;
        --red-400: var(--dots-error) !important;
        --red-450: var(--dots-error) !important;
        --red-500: var(--dots-error) !important;
        --red-550: var(--dots-error) !important;
        --red-600: var(--dots-error) !important;
        --red-650: var(--dots-error) !important;
        --red-700: var(--dots-error) !important;
        --red-750: var(--dots-error) !important;
        --red-800: var(--dots-error) !important;
        --red-850: var(--dots-error) !important;
        --red-900: var(--dots-error) !important;
        --red-950: var(--dots-error) !important;
        --red-a025: var(--dots-error) !important;
        --red-a050: var(--dots-error) !important;
        --red-a100: var(--dots-error) !important;
        --red-a1000: var(--dots-error) !important;
        --red-a1050: var(--dots-error) !important;
        --red-a1075: var(--dots-error) !important;
        --red-a150: var(--dots-error) !important;
        --red-a200: var(--dots-error) !important;
        --red-a250: var(--dots-error) !important;
        --red-a300: var(--dots-error) !important;
        --red-a350: var(--dots-error) !important;
        --red-a400: var(--dots-error) !important;
        --red-a450: var(--dots-error) !important;
        --red-a500: var(--dots-error) !important;
        --red-a550: var(--dots-error) !important;
        --red-a600: var(--dots-error) !important;
        --red-a650: var(--dots-error) !important;
        --red-a700: var(--dots-error) !important;
        --red-a750: var(--dots-error) !important;
        --red-a800: var(--dots-error) !important;
        --red-a850: var(--dots-error) !important;
        --red-a900: var(--dots-error) !important;
        --red-a950: var(--dots-error) !important;
        --red-dark-a1000: var(--dots-error) !important;
        --red-dark-a1050: var(--dots-error) !important;
        --red-dark-a1075: var(--dots-error) !important;
        --red-dark-a1100: var(--dots-error) !important;
        --red-dark-a150: var(--dots-error) !important;
        --red-dark-a200: var(--dots-error) !important;
        --red-dark-a250: var(--dots-error) !important;
        --red-dark-a300: var(--dots-error) !important;
        --red-dark-a350: var(--dots-error) !important;
        --red-dark-a400: var(--dots-error) !important;
        --red-dark-a450: var(--dots-error) !important;
        --red-dark-a500: var(--dots-error) !important;
        --red-dark-a550: var(--dots-error) !important;
        --red-dark-a600: var(--dots-error) !important;
        --red-dark-a650: var(--dots-error) !important;
        --red-dark-a700: var(--dots-error) !important;
        --red-dark-a750: var(--dots-error) !important;
        --red-dark-a800: var(--dots-error) !important;
        --red-dark-a850: var(--dots-error) !important;
        --red-dark-a900: var(--dots-error) !important;
        --red-dark-a950: var(--dots-error) !important;
        --rose-a025: var(--dots-error) !important;
        --rose-a050: var(--dots-error) !important;
        --rose-a100: var(--dots-error) !important;
        --rose-a1000: var(--dots-error) !important;
        --rose-a1050: var(--dots-error) !important;
        --rose-a1075: var(--dots-error) !important;
        --rose-a150: var(--dots-error) !important;
        --rose-a200: var(--dots-error) !important;
        --rose-a250: var(--dots-error) !important;
        --rose-a300: var(--dots-error) !important;
        --rose-a350: var(--dots-error) !important;
        --rose-a400: var(--dots-error) !important;
        --rose-a450: var(--dots-error) !important;
        --rose-a500: var(--dots-error) !important;
        --rose-a550: var(--dots-error) !important;
        --rose-a600: var(--dots-error) !important;
        --rose-a650: var(--dots-error) !important;
        --rose-a700: var(--dots-error) !important;
        --rose-a750: var(--dots-error) !important;
        --rose-a800: var(--dots-error) !important;
        --rose-a850: var(--dots-error) !important;
        --rose-a900: var(--dots-error) !important;
        --rose-a950: var(--dots-error) !important;
        --rose-dark-a1000: var(--dots-error) !important;
        --rose-dark-a1050: var(--dots-error) !important;
        --rose-dark-a1075: var(--dots-error) !important;
        --rose-dark-a1100: var(--dots-error) !important;
        --rose-dark-a150: var(--dots-error) !important;
        --rose-dark-a200: var(--dots-error) !important;
        --rose-dark-a250: var(--dots-error) !important;
        --rose-dark-a300: var(--dots-error) !important;
        --rose-dark-a350: var(--dots-error) !important;
        --rose-dark-a400: var(--dots-error) !important;
        --rose-dark-a450: var(--dots-error) !important;
        --rose-dark-a500: var(--dots-error) !important;
        --rose-dark-a550: var(--dots-error) !important;
        --rose-dark-a600: var(--dots-error) !important;
        --rose-dark-a650: var(--dots-error) !important;
        --rose-dark-a700: var(--dots-error) !important;
        --rose-dark-a750: var(--dots-error) !important;
        --rose-dark-a800: var(--dots-error) !important;
        --rose-dark-a850: var(--dots-error) !important;
        --rose-dark-a900: var(--dots-error) !important;
        --rose-dark-a950: var(--dots-error) !important;
        --text-destructive: var(--dots-error) !important;
        --text-warning: var(--dots-error) !important;
        --ur-color-error: var(--dots-error) !important;
    }

    a.-outline-offset-2.ps-2.pe-3 { background-color: var(--dots-surface_container_lowest) !important; color: var(--dots-on_surface) !important; border-color: var(--dots-outline_variant) !important; }
    div:nth-of-type(2) > button.shrink-0.end-1.-outline-offset-2 > svg { fill: var(--dots-surface) !important; color: var(--dots-surface) !important; }
    div.backdrop-blur-elevation-01.flex-col { background-color: var(--dots-surface_container_low) !important; color: var(--dots-on_surface) !important; border-color: var(--dots-outline_variant) !important; }
    div:nth-of-type(2) > button.shrink-0 > svg { fill: var(--dots-on_primary) !important; color: var(--dots-on_primary) !important; }
    div.shrink-0 > div.start-0 > svg { fill: var(--dots-surface) !important; color: var(--dots-surface) !important; }
    button.shrink-0 { background-color: var(--dots-surface_bright) !important; color: var(--dots-on_surface) !important; border-color: var(--dots-outline_variant) !important; }

}
